.*
*.egg-info
__pycache__
/dist/
/build/
/coverage.*
*.orig

!.github
!.editorconfig
!.flake8
!.gitignore
!.pre-commit-config.yaml
!.pre-commit-hooks.yaml
!.gitkeep

# for django-dbbackup
/backups/
!/backups/.gitkeep

# from test projects:
/static/
/media/
*.sqlite3
*.json


# Include "ignored" *.json:
!**/fixtures/*.json
!*.snapshot.json

# Django
secret.txt

